@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: var(--background-start-rgb);
  }

.textcolor{
  color: #3b5998;
}

.btnbg{
  background-color: #3b5998;
}

.bodybgcolor{
  background-color: #F9F6EE;
}
